.module{
    margin: 160px 0;
}
.module .hd{
    margin-bottom: 6px;
    line-height: 32px;
}
.module .hd span{
    font-size: 20px;
    font-weight: bold;
    color: var(--title-color);
}

.mod-poster{
    margin-bottom: 25px;
}
.mod-poster .bd{
    padding: 60px 0;
    line-height: 24px;
}
.mod-poster .bd h1{
    margin-bottom: 10px;
    line-height: 48px;
    font-weight: bold;
    font-size: 36px;
    color:var(--title-color);
}
.mod-poster .bd h1 span.tag{
    display: inline-block;
    padding: 0 8px;
    margin: 0 5px;
    background: rgba(255, 255, 255,0.8);
    line-height: 26px;
    vertical-align: middle;
    font-size: 13px;
    color: rgb(110, 119, 129);
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.03);
}
.mod-poster .bd p{
    margin-bottom: 10px;
    line-height: 26px;
}
.mod-poster .bd b{
    margin: 0 3px;
    color: #fd7474;
}
.mod-poster .buttons{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    line-height: 32px;
}
.mod-poster .btn {
    display: inline-block;
    height: 44px;
    min-width: 120px;
    padding:0 20px;
    margin: 0 5px;
    background: #2095f2;
    border: medium none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 21px;
    text-decoration: none;
}
.mod-poster .btn img,.mod-poster .btn span{
    vertical-align: middle;
}
.mod-poster .btn:hover{
    background: #1b85da;
}
.mod-poster .btn-green{
    background: #4bae4f;
    color: #fff;
}
.mod-poster .btn-green:hover{
    background: #47a04b;
}
.mod-poster .bd .btn-red{
    background: #f56954;
    color: #fff;
}
.mod-poster .btn-red:hover{
    background: #f4543c;;
}
.mod-poster .btn-orange{
    background: #ff9000;
    color: #fff;
}
.mod-poster .btn-orange:hover{
    background: #e18309;
}

.mod-tabs{
    margin-bottom: 25px;
    background: #fff;
    border: 1px solid #f0f0f099;
    border-radius: 8px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.02);
}
.mod-tabs .hd {
    padding: 10px 20px;
    border-bottom: 1px solid #f4f4f4;
    overflow-x: auto;
}
.mod-tabs .hd ul{
    display: flex;
    flex-wrap: nowrap;
    height: 36px;
}
.mod-tabs .hd li{
    line-height: 36px;
}
.mod-tabs .hd li a{
    display: block;
    padding: 0 20px;
    text-decoration: none;
    font-size: 16px;
    color: #999;
    cursor: pointer;
}
.mod-tabs .hd li.active a{
    position: relative;
    color: #333;
}
.mod-tabs .hd li.active a::after{
    position: absolute;
    left: 50%;
    bottom: -3px;
    display: block;
    content: '';
    width: 16px;
    height: 5px;
    margin-left: -8px;
    background: #2095f2;
    border-radius: 3px;
}


.mod-article{
    margin-bottom: 65px;
}
.mod-article .hd{
    margin-top: -36px;
}
.mod-article .hd span{
    font-size: 24px;
}
.mod-article .bd{
    position: relative;
    padding: 30px 0;
}
.mod-article .bd::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '“';
    font-size: 60px;
    border-radius: 6px;
}
.mod-article .bd::after{
    position: absolute;
    bottom: -10px;
    right: 0;
    content: '”';
    font-size: 60px;
    border-radius: 6px;
}
.mod-article .bd p{
    margin-bottom: 12px;
    line-height: 28px;
    text-indent: 2em;
}

.mod-copy{
    margin-bottom: 65px;
    padding: 35px 0;
    background: rgb(246, 248, 250);
}
.mod-copy .bd{
    margin:0 5px;
}
.mod-copy .bd p{
    margin-bottom: 12px;
    line-height: 28px;
    text-indent: 2em;
}
.mod-copy .bd .buttons{
    margin: 15px 0;
}
.mod-copy .bd .text-red{
    font-weight: bold;
    color: #fd7474;
}
.mod-copy .bd code{
    display: block;
    margin-bottom: 15px;
    padding: 8px 15px;
    line-height: 20px;
    background: #fff;
    border: 1px solid rgba(27,31,36,.15);
    border-radius: 5px;
    word-break: break-word;
}


@media screen and (max-width: 1020px) {
    .mod-poster{
        margin-bottom: 25px;
    }
    .mod-poster .bd{
        padding: 25px 0;
        margin-bottom: 15px;
    }
    .mod-poster .bd h1{
        margin-bottom: 5px;
        line-height: 26px;
        font-size: 20px;
    }
    .mod-poster .bd p{
        line-height: 22px;
        font-size: 13px;
        overflow: hidden;
    }

    .mod-article{
        margin-bottom: 25px;
    }
    .mod-article .hd span{
        font-size: 20px;
    }
    .mod-article .bd{
        padding: 15px 0;
    }
    .mod-article .bd::before{
        font-size: 48px;
    }
    .mod-article .bd::after{
        font-size: 48px;
    }
    .mod-article .bd p{
        margin-bottom: 7px;
        line-height: 22px;
        font-size: 14px;
    }

    .mod-copy{
        padding: 15px 0 25px;
        margin-bottom: 25px;
    }
    .mod-copy .bd p{
        line-height: 22px;
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    .mod-poster .buttons{
        margin-bottom: 10px;
        padding: 10px 0;
    }
    .mod-poster .btn{
        min-width: 64px;
        margin: 2px 1px;
        padding: 0 15px;
        height: 36px;
        line-height: 35px;
        font-size: 14px;
    }
    .mod-poster .btn img{
        display: none;
    }

    .mod-tabs .hd{
        padding: 5px;
    }
    .mod-tabs .hd li{
        line-height: 32px;
    }
    .mod-tabs .hd li a{
        padding: 0 12px;
    }
}